* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

:root {
    --color-light: #f4f4f4;
    --color-dark: #333333;
    --color-light2: #ffffff;
    --color-accent: #007BFF; 
    --color-hover: #e9ecef; 
    --box-shadow: rgba(0, 0, 0, 0.1);
    --box-shadow-hover: rgba(0, 0, 0, 0.2);
}

body{
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}
header{
    background-color: #f1f1f1;
    padding: 2rem;
    display: grid;
    justify-content: space-evenly;
}
.social-icons {
    display: flex;
    gap: 15px;
}
.social-icons a {
    text-decoration: none;
    transition: transform 0.3s, box-shadow 0.3s;
}
.social-icons img {
    width: 40px; 
    height: 40px;
    border-radius: 50%; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}
.social-icons a:hover img {
    transform: scale(1.1); 
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); 
}