@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

::after,
::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --color-verde: #5DB6AE;
    --color-marrom: #2B2031;
    --color-roxo: #423D65;
    --color-amarelo: #DBF38B;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

h1 {
    font-weight: 600;
    font-size: 1.5rem;
    color: #FFF;
    margin: 20px;
}

.avatar {
    position: absolute; 
    top: 30px; 
    right: 30px; 
    width: 50px; 
    height: 50px; 
    overflow: hidden; 
}

body {
    font-family: 'Poppins', sans-serif;
}

.wrapper {
    display: flex;
}

.main {
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
    transition: all 0.35s ease-in-out;
    background-color: #2B2031;
}

#sidebar {
    width: 70px;
    min-width: 70px;
    z-index: 1000;
    transition: all .25s ease-in-out;
    background-color: #423D65;
    display: flex;
    flex-direction: column;
}

#sidebar.expand {
    width: 260px;
    min-width: 260px;
}

.toggle-btn {
    background-color: transparent;
    cursor: pointer;
    border: 0;
    padding: 1rem 1.5rem;
}

.toggle-btn i {
    font-size: 1.5rem;
    color: #DBF38B;
    margin-top: 20px;
}

.sidebar-logo img{
    width: 120px;
    margin-top: 20px;
}

.sidebar-logo a {
    color: #FFF;
    font-size: 1.15rem;
    font-weight: 600;
}

#sidebar:not(.expand) .sidebar-logo,
#sidebar:not(.expand) a.sidebar-link span {
    display: none;
}

.sidebar-nav {
    padding: 2rem 0;
    flex: 1 1 auto;
}

.text{
    padding: .625rem 1.400rem;
    color: #fff;
    display: block;
    font-size: 0.9rem;
    white-space: nowrap;
    border-radius: 7px;
}

a.sidebar-link {
    padding: .625rem 1.400rem;
    color: #fff;
    display: block;
    font-size: 0.9rem;
    white-space: nowrap;
    border-left: 3px solid transparent;
    border-radius: 7px;
}

.sidebar-link i {
    font-size: 1.1rem;
    margin-right: .75rem;
}

a.sidebar-link:hover {
    background-color: #FFF;
    color: #2B2031;
    border-radius: 7px;
}

.sidebar-item {
    position: relative;
}

#sidebar.expand .sidebar-link[data-bs-toggle="collapse"]::after{
    border: solid;
    border-width: 0 .075rem .075rem 0;
    content: "";
    display: inline-block;
    padding: 2px;
    position: absolute;
    right: 1.5rem;
    top: 1.4rem;
    transform: rotate(-135deg);
    transition: all .2s ease-out;
}

#sidebar.expand .sidebar-link[data-bs-toggle="collapse"].collapsed::after{
    transform: rotate(45deg);
    transition: all .2s ease-out;
}

.text-amarelo {
    color: var(--color-amarelo);
}

.table-bg {
    width: 100%;
    color: white;
}

.white {
    border-bottom: solid 1px white; 
}

td, th{ 
    padding: 15px;
}

.status-bg{
    background-color: #11ff002f;
    padding: 5px;
    width: 60%;
    text-align: center;
    border-radius: 10px;
    margin-top: 10px;
}

.page-link {
    display: flex;
    align-items: flex-start;
    gap: 2px;
    color: #000;
    font-weight: 600;
    margin: 5px;
    top: 15px;
    border-radius: 4px;
}

.page-item :hover {
    background-color: #DBF38B;
    color: #000;
}